<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Opportunity from Client</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('pred_testquery')}}"method="post">
    	<input type="text" name="Sales Velocity" placeholder="Sales Velocity" required="required" /><br>
        <input type="text" name="Sales Stage Iterations" placeholder="Sales Stage Iterations" required="required" /><br>
	    <input type="text" name="Opportunity Size (USD)" placeholder="Opportunity Size" required="required" /><br>
        <input type="text" name="Business from Client Last Year" placeholder="Business from Client Last Year" required="required" /><br>
        <input type="text" name="Opportunity Sizing" placeholder="Opportunity Sizing" required="required" /><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
